@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded:700&display=swap');

@font-face {
  font-family: 'noodle';
  src: url('./components/fonts/big_noodle_titling.ttf');
}


body {
  background: #DFE9F7;
  color: #100F0D;
  font-family: 'noodle';
}

p {
  font-family: 'Helvetica';
}


.OW {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 500%
}


/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

